* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
.hide {
 display: none;
}
body {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   background-color: #FFFCF9;
}
h1{
   text-align: center;
   font-size: 52px;
   font-family: 'Megrim', cursive;
   color: #75C4BC; 
}
/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 100%;
	margin:0 auto;
}
header {

}
footer {
   text-align: center;
   width: 100%;
   line-height: 100px;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
#game{
   width: 1100px;
   margin:0 auto;
   padding: 30px;
   border: 1px solid black;
   text-align: center;
   border-radius: 10px;
}
#gameOver{
   display:none;
}
.card{
   cursor:pointer;
   display:inline-block;
}
.matched{
   border:1px solid green;
}
.cheat{
   -webkit-transform:scale(1.5);
   transform:scale(1.5);
}
/*.selected,.matched{
     background-image:url(../images/classic-playing-cards.png);
     }*/
     .card img{
      height: 140px;
      width: 100px;
  }

  /*removed for symmetry .ace.selected,.ace.matched{background-position:-1px -1px;}*/



