* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
.hide {
 display: none;
}
body {
  color: rgb(254,1,49);
  font-size: 12px;
  line-height: 1.4;
  background-color: black;
  font-family: 'Special Elite', cursive;
  letter-spacing: 0.3em
}
h1{
  font-size: 8em;
  line-height: 1em;
}
h2{
  font-size: 6em;
  line-height: 1em;
}
h3{
  font-size: 3em;
}
/******************************************
/* LAYOUT                   
/*******************************************/
#container {
	width: 100%;
	margin: 0 auto;

}
header {
}
footer {
   text-align: center;
   width: 100%;
   line-height: 100px;
}
/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
#landing{
  margin-top: 30px;
  text-align: center;
  background-color: black;

}
#landing p{
  font-size: 1em;
}
#logo_section img{
  margin-right: auto;
  margin-left: auto;
} 
#logo_section img:hover{
  width: 15%;
} 
.logo_bounce{
  animation-name: bounce;
  -webkit-animation-name: bounce; 

  animation-duration: 1.6s; 
  -webkit-animation-duration: 1.6s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  
  
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;   
}
#instructions{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 30px;
}
#instructions_container{
  padding: 20px;
  border: dotted 5px;

  border-color: rgb(254,1,49);
  text-align: center;
}

#instructions_container h3{
  margin-bottom: 0;
}

#landing h1{
  letter-spacing: 10px;
}

#button_launch{
  background-color: rgb(254,1,49);
  border-radius: 20px;
  color: white;
  padding: 30px 50px;
  text-decoration: none;
  border: none;
  font-family: inherit;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
  margin: 15px 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#button_launch:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#button_launch:hover{
  font-size: 50px;
}
#game{
   width: 1300px;
   margin:0 auto;
   padding: 30px;
   border: 1px solid black;
   text-align: center;
   border-radius: 10px;
}

#game h3{
  margin: 0;
}
#gameOver{
   display:none;
}
.card{
   cursor:pointer;
   display:inline-block;
}
.matched{
   border:1px solid green;
}
.cheat{
   -webkit-transform:scale(1.5);
   transform:scale(1.5);
}
/*.selected,.matched{
     background-image:url(../images/classic-playing-cards.png);
     }*/
     .card img{
      height: 140px;
      width: 100px;
      margin: 0 8px;
  }
  /*removed for symmetry .ace.selected,.ace.matched{background-position:-1px -1px;}*/
.log-link{
  position: relative;
  z-index: 10;
  background-color: white;
  width: 500px;
  display: block;
  text-align: center;
  padding: 20px 5px;
  font-size: 25px;
  margin-left: -40px;
  text-decoration: none;
  color: black;
  -ms-transform: rotate(30deg); /* IE 9 */
      -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
      transform: rotate(30deg);

}

a:visited .log-link {
  color: white;
  text-decoration: none;
}
 a:hover{
  color: red;
  text-decoration: none;
  background-color: #E8E5E5;
}


.body-documentation, html {
  height: 100%;
}

#arrow{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#arrow a{
  text-decoration: none;
  color: white;
  padding: 8px;
}

#arrow a:hover{
  text-decoration: none;
  background: black;
  color: white;

}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/13.52.jpg");

}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/14.10.jpg");
}
.cd-fixed-bg.cd-bg-3 {

  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/14.00.jpg");
}
.cd-fixed-bg.cd-bg-31 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/14.17.jpg");
}
.cd-fixed-bg.cd-bg-32 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/14.21.jpg");

}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/15.20.jpg");
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/15.25.jpg");
}
.cd-fixed-bg.cd-bg-51 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/15.33.jpg");
}
.cd-fixed-bg.cd-bg-6 {

  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/16.04.jpg");
}
.cd-fixed-bg.cd-bg-61 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/16.45.jpg");
}
.cd-fixed-bg.cd-bg-62 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/16.54.jpg");
}

.cd-fixed-bg.cd-bg-63 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/16.55.jpg");
}

.cd-fixed-bg.cd-bg-64 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/16.56.jpg");
}
.cd-fixed-bg.cd-bg-7 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/sadiq1.jpg");
}
.cd-fixed-bg.cd-bg-8 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/bruno1.png");
}

.cd-fixed-bg.cd-bg-9 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/15.25.jpg");
}
.cd-fixed-bg.cd-bg-10 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/16.03.jpg");
}

.cd-fixed-bg.cd-bg-12 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/daniel1.jpg");
}

.cd-fixed-bg.cd-bg-13 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/ellie1.jpg");
}
.cd-fixed-bg.cd-bg-14 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/joel1.jpg");
}

.cd-fixed-bg.cd-bg-16 {

  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/luke1.png");

}

.cd-fixed-bg.cd-bg-17 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/mathieu1.jpg");
}

.cd-fixed-bg.cd-bg-18 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/17.03.jpg");
}
.cd-fixed-bg.cd-bg-19 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/17.17.jpg");
}
.cd-fixed-bg.cd-bg-20 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/17.30.jpg");
}

.cd-fixed-bg.cd-bg-201 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/20.29.jpg");
}
.cd-fixed-bg.cd-bg-21 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/19.30.jpg");
}
.cd-fixed-bg.cd-bg-211 {

  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi10hackymemory/images/lastpicture.jpg");

}
.cd-scrolling-bg {
  min-height: 100%;
}
.body-documentation h1{
  color: white;
  text-align: center;
  padding-top: 150px;
  font-size: 80px;
  line-height: 120px;
  margin: 0 20px;
}
.cd-container h1{
  color: black;
}

.body-documentation p{
  text-align: center;
  font-size: 200px ;
}

.cd-color-1{
  background-color: #ED5565
}


.cd-color-2{
  background-color: #4FC1E9;
}


.cd-color-3{
  background-color: #FC6E51;
}

.cd-color-31{
  background-color: #E9573F;
}

.cd-color-32{
  background-color: #F6BB42;
}

.cd-color-4{
  background-color: #F6BB42;
}

.cd-color-9{
  background-color: #656D78;
}

.cd-color-51{
  background-color: #A0D468;
}
.cd-color-6{
  background-color: #16A085;
}

.cd-color-10{
  background-color: #F39C12;
}

.cd-color-61{
  background-color: #9B59B6;
}

.cd-color-62{
  background-color: #BDC3C7;
}

.cd-color-63{
  background-color: #2ECC71;
}

.cd-color-64{
  background-color: #3498DB;
}
.cd-color-7{
  background-color: #8E44AD;
}
.cd-color-8{
  background-color: #E67E22;
}

.cd-color-12{
  background-color: #9B59B6;
}

.cd-color-13{
  background-color: #2980B9;
}

.cd-color-14{
  background-color: #16A085;
}

.cd-color-15{
  background-color: #F39C12;
}

.cd-color-16{
  background-color: #27AE60;
}
.cd-color-17{
  background-color: #3498DB;
}

.cd-color-18{
  background-color: #7F8C8D;
}

.cd-color-19{
  background-color: #C0392B;
}

.cd-color-20{
  background-color: #2980B9;
}

.cd-color-21{
  background-color: #16A085;
}
.cd-color-211{
  background-color: #27AE60;
}