/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
   -moz-box-sizing: border-box; /* Firexfox */
   -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
   box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clear {
	clear: both;
}

.hide {
   display: none;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   background-color: #FFFCF9;

}

h1{
   text-align: center;
   font-size: 52px;
   font-family: 'Megrim', cursive;
   color: #75C4BC; 
}
/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;

}

header {

}

footer {
   text-align: center;
   margin-top: 50px;
   width: 795px;
   line-height: 100px;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
#game{
   width: 800px;
   margin:0 auto;
   padding: 30px;
   border: 1px solid black;
   text-align: center;
   border-radius: 10px;

}
#gameOver{
   display:none;
}
.card{
   cursor:pointer;
   display:inline-block;
}



.matched{
   border:1px solid green;
}
.cheat{
   -webkit-transform:scale(1.5);
   transform:scale(1.5);
}
/*.selected,.matched{
     background-image:url(../images/classic-playing-cards.png);
     }*/

     .card img{
      height: 100px;
      width: 71px;

  }

  /*removed for symmetry .ace.selected,.ace.matched{background-position:-1px -1px;}*/



