/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.hide {
     display: none;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     background-color: #FFFCF9;
    
}

h1{
     text-align: center;
     font-size: 52px;
     font-family: 'Megrim', cursive;
     color: #75C4BC; 
}
/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;

}

header {

}

footer {
     text-align: center;
     margin-top: 50px;
     width: 795px;
     line-height: 100px;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
#game{
     width: 1000px;
     margin:0 auto;
     padding: 30px;
     border: 1px solid black;
     text-align: center;
     border-radius: 10px;

}
#gameOver{
     display:none;
}
.cards{
     background: url(../images/GA-WDI10-Card-low.png) no-repeat ;
     ;
     width: 210px;
     border-radius: 100%
     cursor:pointer;
     margin:10px;
     float: left;
}



.matched{
     border:1px solid green;
}
.cheat{
     -webkit-transform:scale(1.5);
     transform:scale(1.5);
}
/*.selected,.matched{
     background-image:url(../images/classic-playing-cards.png);
}*/

.cards img{
     height: 200px;
     width: 200px;
     border-radius: 100%
}

/*removed for symmetry .ace.selected,.ace.matched{background-position:-1px -1px;}*/



