<!DOCTYPE html>
<html lang="en" ng-app='hackathonApp'>
<head>
	<meta charset="utf-8">
	<title>wdi 10 memory game</title>
	<script text="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-animate.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/main.js"></script>

	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/animations.css">
	<link rel="stylesheet" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="container" ng-controller="HackathonController">
		<div ng-hide="hide" id="landing">
			<div class="logo_bounce" id="logo_section" ng-click="hide=true" ng-init="hide=false">
				<img src="/images/ga-logo.png" width=150 heigh=150 class="slideDown" alt="GA Logo">
			</div>
			<p>Click me</p>
			<h2 class="slideRight">WDI 10 - London</h2>
			<h1 class="bigEntrance">Hacky Memory</h1>
			<h3 class="slideLeft">the one and only wdi 10 card game</h3>
		</div>

		<div ng-show="hide && !play" id="instructions">
			<div id="instructions_container">
				<h3>Hi Guys, we have a great news!<br>Hacky Memory is the most funny game<br>we have played ever at WDI 10... <br>And it will make the other side<br>of your brains works.<br>So give it a try...</h3>
				<br>
				<button type="button" id="button_launch" ng-click="play=true" ng-init="play=false">Play</button>
				<br>
			</div>
		</div>



		<div id="game" ng-show="hide && play" >
			<h2 id="gameOver">Congratulations! You've matched all cards in <span id="number-of-moves"></span> moves</h2>
			
			<div id="game-cards" class="clearfix">



				<div class="card" ng-repeat='student in students' ng-click='selectCard(student)' ng-class="{selected: isSelected(student), expandOpen: isSelected(student) }">

					<!-- <div ng-show="selectCard"> -->
					<img src="/images/GA-WDI10-Card.png" alt="" ng-hide="first == student || second == student || isMatched(student)">

					<img ng-src="{{ student.image || student.phrase }}" alt="" ng-show="first == student || second == student || isMatched(student)">
				</div>
			</div>
		</div>
	</div>
	<br>

	<a href="documentation.html" title="documentation" class="log-link">Log Book</a></li>
	
	<footer>
		&copy; General Assembly wdi 10
	</footer>

</body>
</html>