<!DOCTYPE html>
<html lang="en" ng-app='hackathonApp'>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">

	
	<title>wdi 10 memory game</title>
	<script text="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-animate.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/main.js"></script>
		
	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>

</head>

<body>
	<div id="container" ng-controller="HackathonController">
		<header>
			<h1>the one and only wdi 10 card game</h1>
		</header>



		<div id="game">
			<h2 id="gameOver">Congratulations! You've matched all cards in <span id="number-of-moves"></span> moves</h2>
			
			<div id="game-cards" class="clearfix">

			

				<div class="card" ng-repeat='student in students' ng-click='selectCard(student)' ng-class="{selected: isSelected(student) }">

					<!-- <div ng-show="selectCard"> -->
					<img src="/images/GA-WDI10-Card.png" alt="" ng-hide="first == student || second == student || isMatched(student)">

					<img ng-src="{{ student.image || student.phrase }}" alt="" ng-show="first == student || second == student || isMatched(student)">
				</div>

			</div>
			<div id="game-control-buttons">
				<button id="start">Start game</button>
				<button id="reset">Reset game</button>
			</div>
		</div>
		<br>
		
		<a href="documentation.html" title="documentation" class="log-link">Log Book</a></li>

		<footer>
			&copy; General Assembly wdi 10
		</footer>
	</div><!-- #container --> 
</body>
</html>